**/target/
/target/
*/target/*
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea/
.idea/workspace.xml
target/gatokiri-0.0.1-SNAPSHOT/WEB-INF/lib/mysql-connector-java-5.1.45.jar